* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

#full-site {
    display: flex;
    flex-direction: row;

}

.no-activo{
    overflow: hidden;
}

.active{
    background-color:rgb(17, 19, 47) ;
}

/*------------------Nav----------------------*/

.navegador {
    height: 100vh;
    width: 15vw;
    background: rgb(84, 18, 18);
    background: linear-gradient(90deg, rgba(84, 18, 18, 0) 0%, rgba(30, 33, 84, 1) 0%, rgba(30, 33, 66, 1) 51%, rgba(30, 33, 50, 1) 100%);
    overflow: hidden;
}

.header-nav {
    /* background-color: #1e2154; */
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
}

#bloque-abrir-canales{
    width: 100%;
    height: 15vh;
}


.h1-header-nav {
    margin: auto;
    margin-top: 9px;
    margin-bottom: 3%;
    color: white;
    font-family: 'Montserrat', sans-serif;

}

.h2-header-nav {
    /* margin: auto; */
    color: rgb(205, 205, 205);
    font-family: 'Expletus Sans', cursive;
    font-size: small;

}

.icono-nav {
    /* margin-top: 5%; */
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

}

#logo-telegrafo {
    margin-top: 25%;
    margin-bottom: 25%;
    width: 3em;
    height: 3em;
    color: white;


}


.h2-header-nav::before {
    content: "";
    display: table;

    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: green;
    position: relative;
    top: 1.15em;
    left: -1em;


}

.desplegable {
    text-align: left;
    list-style: none;
    display: none;
    flex-direction: column;
    text-align: left;
    overflow: visible;
    color: rgb(205, 205, 205);
    font-family: 'Expletus Sans', cursive;
    font-size: small;
}



.conectado {
    margin-top: 5%;

}

.conectado::before {
    content: "";
    display: table;

    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: green;
    position: relative;
    top: 1.15em;
    left: -1em;
}

.ausente {
    margin-top: 5%;
}

.ausente::before {
    content: "";
    display: table;

    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgb(155, 208, 20);
    position: relative;
    top: 1.15em;
    left: -1em;
}

.no-conectado {
    margin-top: 5%;
}

.no-conectado::before {
    content: "";
    display: table;

    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgb(122, 122, 122);
    position: relative;
    top: 1.15em;
    left: -1em;
}

.no-molestar {
    margin-top: 5%;
}

.no-molestar::before {
    content: "";
    display: table;

    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgb(199, 27, 27);
    position: relative;
    top: 1.15em;
    left: -1em;
}



.añdirtexto{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 10%;
    justify-content: center;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;

}

.abre-crearCanal{
    display: none;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
}


.input-canales{
    background-color: rgb(17, 19, 47);
    margin-top: 5%;
    border: 1px solid rgba(30, 33, 84, 1);
    color:  #FFF;
    font-family: 'Hind Madurai', sans-serif;
    text-indent: 3%;
    width: 80%;
    /* margin: auto; */
    /* border-radius: 10%; */
}

.boton-crear-canal{
    background: none;
    border: none;
    color: #FFF;
    font-family: 'Hind Madurai', sans-serif;
    font-size: larger;
    /* margin-left: 5%; */
    margin-top: 5%;
    width: 15%;
}

.boton-crear-canal:hover{
    background-color: rgb(17, 19, 47);
    cursor: pointer;

}

.abrir-input{
    background: none;
    border: none;
    color: #FFF;
    font-family: 'Hind Madurai', sans-serif;
    font-size: larger;
    width: 80%;
    border-radius: 5%;
}

.abrir-input:hover{
    background-color: rgb(17, 19, 47);
    cursor: pointer;
}

.bloque-contiene-canales{
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;

}

.contenedor-canales{
    margin-top: 20%;
    width: 80%;
    height: 75vh;
    color: #FFF;
}

.canales{
    overflow-y: auto;
    height: 80%;
}

/* -----------------------Barra canales-------------- */

.canales::-webkit-scrollbar{
    width: 10px;
}

.canales::-webkit-scrollbar-track{
    
    background: rgb(17, 19, 47);
}

.canales::-webkit-scrollbar-thumb{
    
    background-color: #FFF;
    max-height: 10px;
    border-radius: 5px;
}
/* -------------------------------------------------------------- */

.contenedor-canales>p{
    font-family: 'Montserrat', sans-serif;

}

.canales>div>button{
    font-family: 'Montserrat', sans-serif;

}

hr{
    margin: auto;
    margin-top: 5%;
    width: 80%;
}

.boton-canales{
    margin-top: 5%;
    color: #FFF;
    background:none;
    border: none;
    width: 100%;
    height: 5vh;
}

.boton-canales:hover{
    background-color: rgb(17, 19, 47);
    cursor: pointer;

}

/*----------------------------Fin del nav---------------------------------*/

/*----------------------------Header--------------------------------------*/

.main {
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 10vh;
    /* background-color: aqua; */
    display: flex;
    border-bottom: 5px rgba(30, 33, 84, 1) solid;

}

.header-header {
    font-family: 'Montserrat', sans-serif;
    margin-left: 5%;
    margin-top: 3%;
    font-weight: 800;
    font-size: 2.5vh;

}

.subtexto-header-header {
    font-family: 'Expletus Sans', cursive;
    margin-left: 2%;
    margin-top: 0.5%;
    font-weight: 500;

}

.div-textos {
    width: 60%;
    height: 10vh;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
}

.div-input {
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 5%;

}

.input-busqueda {
    border: none;
    height: 3vh;
    width: 12vw;
    font-family: 'Expletus Sans', cursive;
    background-color: rgb(243, 243, 243);
    text-indent: 6%;

}

.button-busqueda-header {
    border: none;
    background-color: rgb(243, 243, 243);
    height: 3vh;
    width: 3vw;
    cursor: pointer;
}

.button-busqueda-header:hover {
    background-color: rgb(210, 210, 210);

}

/*______________________fin del header__________________*/

/*-------------------------Screen------------------------*/

.screen {
    width: 100%;
    height: 75vh;
    font-family: 'Hind Madurai', sans-serif;
    display: flex;
    flex-direction: column;
    overflow: auto;

}

.screen>div {
    max-width: 30%;
    height: auto;
    /* background-color: rgb(210, 210, 210); */
    margin-top: 1.5%;
    margin-left: 3%;
    margin-bottom: 1.5%;
    display: flex;
    align-items: center;
    border-left: 1px rgba(30, 33, 84, 1) solid;


}


.screen>div>p {
    margin-left: 3%;

}

.screen>div>p.fecha-hora {
    color: rgb(127, 127, 127);
    font-size: small;
}

/*-----------------------------------fin Screen -----------------------------*/

/*------------------------------------Input texto----------------------------*/

.input-texto {
    width: 100%;
    height: 15vh;
    border-top: 5px rgba(30, 33, 84, 1) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.input-input-texto {
    /* margin: auto; */
    width: 70vw;
    height: 6vh;
    text-indent: 3%;
    font-family: 'Hind Madurai', sans-serif;


}

.button-input-texto {
    height: 6vh;
    width: 3vw;
    color: black;
    background-color: white;
    border: 1px black solid;
    border-left: none;
    font-size: 3vh;
    font-family: 'Hind Madurai', sans-serif;
    transition: all;
    transition-duration: .5s;



}

.button-input-texto:hover {
    transition: ease-in;
    cursor: pointer;
    background-color: rgba(30, 33, 84, 1);
    color: #FFF;
}

/* -----------------Media queries---------------- */




@media (max-width: 600px){
#full-site{
    display: flex;
    flex-direction: column;
}


.navegador{
    width: 100%;
    height: 15vh;
}

.header-nav {
    /* background-color: #1e2154; */
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.icono-nav {
    /* margin-top: 5%; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    /* overflow: hidden; */

}

#logo-telegrafo {
    margin-top: 25%;
    margin-bottom: 25%;
    /* margin-left: 25%; */
    /* margin-right: 25%;     */
    width: 3em;
    height: 3em;
    color: white;
}

.h1-header-nav {
display: none;
}

.h2-header-nav {
display: none;
}

.añdirtexto{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 10%;
    /* align-items: center; */
    /* justify-content: center; */
    color: #FFF;
    font-family: 'Montserrat', sans-serif;

}

#bloque-abrir-canales{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
}

.abrir-input{
    background: none;
    border: none;
    color: #FFF;
    font-family: 'Hind Madurai', sans-serif;
    font-size: larger;
    width: 100%;
    border-radius: 5%;
}

.input-canales{
    background-color: rgb(17, 19, 47);
    margin-top: 5%;
    border: 1px solid rgba(30, 33, 84, 1);
    color:  #FFF;
    font-family: 'Hind Madurai', sans-serif;
    text-indent: 3%;
    width: 80%;
    height: 100%;
    /* margin: auto; */
    /* border-radius: 10%; */
}

hr{
display: none;
}

.bloque-contiene-canales{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-top: 0%;

}

.contenedor-canales{
    margin-top: 10%;
    /* margin: 0%; */
    width: 80%;
    height: 100%;
    color: #FFF;
    overflow-y: auto;
    /* display: flex;
    align-content: center;
    justify-content: center; */
}

.contenedor-canales>p{
    margin-bottom: 10%;
    font-family: 'Hind Madurai', sans-serif;
    font-size: larger;
    /* background-color: rgba(30, 33, 84, 1);
    position: fixed; */
}

/* -----------------------Barra canales-------------- */

.canales::-webkit-scrollbar{
    width: 10px;
    
}

.canales::-webkit-scrollbar-track{
    
    background: rgb(17, 19, 47);
}

.canales::-webkit-scrollbar-thumb{
    
    background-color: #FFF;
    max-height: 1px;
    border-radius: 5px;
}
/* -------------------------------------------------------------- */

.canales{
    width: 100%;
    height: 65%;
    overflow: auto;
}

/* --------------------------header---------------------- */

.header {
    width: 100%;
    height: 5vh;
    /* background-color: aqua; */
    display: flex;
    border-bottom: 5px rgba(30, 33, 84, 1) solid;

}

.div-input {
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 5%;

}

.input-busqueda {
    border: none;
    height: 3vh;
    width: 30vw;
    font-family: 'Expletus Sans', cursive;
    background-color: rgb(243, 243, 243);
    text-indent: 6%;

}

.button-busqueda-header {
    border: none;
    background-color: rgb(243, 243, 243);
    height: 3vh;
    width: 10vw;
    cursor: pointer;
}

.screenes{
    height: 75%;
    overflow: hidden;
}

.screen {
    width: 100%;
    height: 100%;
    font-family: 'Hind Madurai', sans-serif;
    display: flex;
    flex-direction: column;
    overflow: auto;

}

.screen::-webkit-scrollbar{
    width: 10px;
    
}

.screen::-webkit-scrollbar-track{
    
    background: #FFF;
}

.screen::-webkit-scrollbar-thumb{
    
    background-color: rgb(17, 19, 47);
    max-height: 1px;
    border-radius: 5px;
}

.screen>div {
    max-width: 30%;
    height: auto;
    /* background-color: rgb(210, 210, 210); */
    margin-top: 1.5%;
    margin-left: 3%;
    margin-bottom: 1.5%;
    display: flex;
    align-items: center;
    border-left: 1px rgba(30, 33, 84, 1) solid;


}


.screen>div>p {
    margin-left: 3%;

}

.screen>div>p.fecha-hora {
    color: rgb(127, 127, 127);
    font-size: small;
}

.input-texto {
    width: 100%;
    max-height: 15vh;
    border-top: 5px rgba(30, 33, 84, 1) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.input-input-texto {
    /* margin: auto; */
    width: 70vw;
    height: 6vh;
    text-indent: 5%;
    font-family: 'Hind Madurai', sans-serif;
    font-size: larger;

}

.button-input-texto {
    height: 6vh;
    width: 10vw;
    color: black;
    background-color: white;
    border: 1px black solid;
    border-left: none;
    font-size: 3vh;
    font-family: 'Hind Madurai', sans-serif;
    transition: all;
    transition-duration: .5s;



}

.button-input-texto:hover {
    transition: ease-in;
    cursor: pointer;
    background-color: rgba(30, 33, 84, 1);
    color: #FFF;
}

.main {
    width: 100%;
    height: 85vh;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
}

}

@media only screen and (min-width: 601px) and (max-width: 900px){
    #full-site{
        display: flex;
        flex-direction: column;
    }
    
    
    .navegador{
        width: 100%;
        height: 15vh;
    }
    
    .header-nav {
        /* background-color: #1e2154; */
        width: 100%;
        height: 15vh;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    
    .icono-nav {
        /* margin-top: 5%; */
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        /* overflow: hidden; */
    
    }
    
    #logo-telegrafo {
        margin-top: 25%;
        margin-bottom: 25%;
        /* margin-left: 25%; */
        /* margin-right: 25%;     */
        width: 3em;
        height: 3em;
        color: white;
    }
    
    .h1-header-nav {
    display: none;
    }
    
    .h2-header-nav {
    display: none;
    }
    
    .añdirtexto{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 2%;
        /* align-items: center; */
        /* justify-content: center; */
        color: #FFF;
        font-family: 'Montserrat', sans-serif;
    
    }
    
    #bloque-abrir-canales{
        width: 100%;
        height: 15vh;
        display: flex;
        flex-direction: column;
    }
    
    .abrir-input{
        background: none;
        border: none;
        color: #FFF;
        font-family: 'Hind Madurai', sans-serif;
        font-size: larger;
        width: 100%;
        border-radius: 5%;
    }
    
    .input-canales{
        background-color: rgb(17, 19, 47);
        margin-top: 5%;
        border: 1px solid rgba(30, 33, 84, 1);
        color:  #FFF;
        font-family: 'Hind Madurai', sans-serif;
        text-indent: 3%;
        width: 80%;
        height: 100%;
        /* margin: auto; */
        /* border-radius: 10%; */
    }
    
    hr{
    display: none;
    }
    
    .bloque-contiene-canales{
        width: 100%;
        height: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin-top: 0%;
    
    }
    
    .contenedor-canales{
        margin-top: 2%;
        /* margin: 0%; */
        width: 80%;
        height: 100%;
        color: #FFF;
        overflow-y: auto;
        /* display: flex;
        align-content: center;
        justify-content: center; */
    }
    
    .contenedor-canales>p{
        margin-bottom: 2%;
        font-family: 'Hind Madurai', sans-serif;
        font-size: larger;
        /* background-color: rgba(30, 33, 84, 1);
        position: fixed; */
    }
    
    /* -----------------------Barra canales-------------- */
    
    .canales::-webkit-scrollbar{
        width: 10px;
        
    }
    
    .canales::-webkit-scrollbar-track{
        
        background: rgb(17, 19, 47);
    }
    
    .canales::-webkit-scrollbar-thumb{
        
        background-color: #FFF;
        max-height: 1px;
        border-radius: 5px;
    }
    /* -------------------------------------------------------------- */
    
    .canales{
        width: 100%;
        height: 65%;
        overflow: auto;
    }
    
    /* --------------------------header---------------------- */
    
    .header {
        width: 100%;
        height: 10vh;
        /* background-color: aqua; */
        display: flex;
        border-bottom: 5px rgba(30, 33, 84, 1) solid;
    
    }
    
    .div-input {
        width: 40%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: right;
        margin-right: 5%;
    
    }
    
    .input-busqueda {
        border: none;
        height: 3vh;
        width: 30vw;
        font-family: 'Expletus Sans', cursive;
        background-color: rgb(243, 243, 243);
        text-indent: 6%;
    
    }
    
    .button-busqueda-header {
        border: none;
        background-color: rgb(243, 243, 243);
        height: 3vh;
        width: 10vw;
        cursor: pointer;
    }
    
    .screenes{
        height: 75%;
        overflow: hidden;
    }
    
    .screen {
        width: 100%;
        height: 100%;
        font-family: 'Hind Madurai', sans-serif;
        display: flex;
        flex-direction: column;
        overflow: auto;
    
    }
    
    .screen::-webkit-scrollbar{
        width: 10px;
        
    }
    
    .screen::-webkit-scrollbar-track{
        
        background: #FFF;
    }
    
    .screen::-webkit-scrollbar-thumb{
        
        background-color: rgb(17, 19, 47);
        max-height: 1px;
        border-radius: 5px;
    }
    
    .screen>div {
        max-width: 30%;
        height: auto;
        /* background-color: rgb(210, 210, 210); */
        margin-top: 1.5%;
        margin-left: 3%;
        margin-bottom: 1.5%;
        display: flex;
        align-items: center;
        border-left: 1px rgba(30, 33, 84, 1) solid;
    
    
    }
    
    
    .screen>div>p {
        margin-left: 3%;
    
    }
    
    .screen>div>p.fecha-hora {
        color: rgb(127, 127, 127);
        font-size: small;
    }
    
    .input-texto {
        width: 100%;
        max-height: 10vh;
        border-top: 5px rgba(30, 33, 84, 1) solid;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    .input-input-texto {
        /* margin: auto; */
        width: 70vw;
        height: 6vh;
        text-indent: 5%;
        font-family: 'Hind Madurai', sans-serif;
        font-size: larger;
    
    }
    
    .button-input-texto {
        height: 6vh;
        width: 10vw;
        color: black;
        background-color: white;
        border: 1px black solid;
        border-left: none;
        font-size: 3vh;
        font-family: 'Hind Madurai', sans-serif;
        transition: all;
        transition-duration: .5s;
    
    
    
    }
    
    .button-input-texto:hover {
        transition: ease-in;
        cursor: pointer;
        background-color: rgba(30, 33, 84, 1);
        color: #FFF;
    }
    
    .main {
        width: 100%;
        height: 85vh;
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
    }
    
    }